button{
  width: 80px;
  height: 80px;
  border: none;
  background-color: rgb(236, 236, 236);
  border-radius: 50% 50%;
  cursor: pointer;
  margin-left: 12px;
  font-size: 30px;
  transition: 0.3s;
}

.game-name{
  text-align: center;
}

button:hover{
  scale: 1.1;
}

.box{
  border: 8px solid #000;
  width: 300px;
  height: 430px;
  text-align: center;
  margin-top: 15px;
}

.item-img{
  width: 200px;
  height: 250px;
}
.main{
  display: flex;
  justify-content: space-around;
}

.btn{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.Win{
  border: 8px solid #2196f3;
}

.Lose{
  border: 8px solid #e53935;
}

.Tie{
  border: 8px solid #4caf50;
}


@media screen and (max-width:460px) {
  .box{
    border: 6px solid #000;
    width: 250px;
    height: 200px;
    text-align: center;
    margin-top: 15px;
  }

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box h1{
    font-size: 20px;
  }
  
  .item-img{
    width: 100px;
    height: 90px;
  }

  .btn{
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .Win{
    border: 6px solid #2196f3;
  }
  
  .Lose{
    border: 6px solid #e53935;
  }
  
  .Tie{
    border: 6px solid #4caf50;
  }

  button{
    width: 60px;
    height: 60px;
    border: none;
    background-color: rgb(236, 236, 236);
    border-radius: 50% 50%;
    cursor: pointer;
    margin-left: 20px;
    font-size: 30px;
    transition: 0.3s;
  }
}